@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&display=swap');

html {
  padding: 5%;
  padding-top: 2%;
  background-color: rgb(white);
}

.title {
  width: auto;
  height: 800px;
  background-color: #fffcdf;
  display: flex;
}

h1 {
  color: rgb(101, 218, 167);
  font-weight: 800;
  font-family: 'Permanent Marker', cursive;
  font-size: 78pt;
  text-align: center;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  line-height: 160%;
}

.italics {
  font-family: 'Permanent Marker', cursive;
  font-style: italic;
  font-size: 22pt;
  color: rgb(101, 218, 167);
}

.defeat {
  font-family: 'Permanent Marker', cursive;
  color: #f75a5a;
  font-size: 18pt;
}

.intentional {
  font-family: 'Permanent Marker', cursive;
  color: rgb(180, 138, 220);
  font-size: 22pt;
}
.cilmayo {
  font-family: 'Permanent Marker', cursive;
  color: #4ced17;
  font-size: 22pt;
}

.moretime {
  font-family: 'Permanent Marker', cursive;
  color: rgb(180, 138, 220);
  font-size: 18pt;
}

.textandpic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.byline {
  font-style: italic;
  font-size: small;
}

.slide-in {
  animation-duration: 3s;
  animation-name: slidein;
  margin: auto;
}

@keyframes slidein {
  from {
    margin-bottom: 10%;
    opacity: 0;
    /* width: 30%; */
  }

  /* to {
  /* opacity: 1; */
  /* margin-bottom: 10%; */
  /* width: 100%; */
}

.slide-in.appear {
  opacity: 1;
}

.fade-in {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.sandwich {
  /* position: fixed;
  top: 20%;
  margin-left: 45%; */
}
