@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&display=swap');

html {
  padding: 5%;
  padding-top: 2%;
  background-color: rgb(white);
}

h1 {
  color: rgb(101, 218, 167);
  font-weight: 800;
  font-family: 'Permanent Marker', cursive;
  font-size: 46pt;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  line-height: 160%;
}

.italics {
  font-family: 'Permanent Marker', cursive;
  font-style: italic;
  font-size: 22pt;
  color: rgb(95, 205, 168);
}
